.popup-subscribe__subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin: 32px 0 105px;
    max-width: 337;
    color: #000000;
    text-align:start;
}