.form__name {
    border: 1px solid grey;
    border-radius: 10px;
    width: 320px;
    min-height: 56px;
    margin: 30px 36px 0;
    font-family: roboto;
    padding-left: 24px;
<<<<<<< HEAD
    background-color: transparent;
=======
>>>>>>> ed87159041cf9175caa8e7d6b1fed4d7d7c5da1d
}


