.form__name {
    width: 320px;
    min-height: 56px;
    margin: 0 36px 0;
    padding-left: 24px;

    background-color: transparent;
    border: 1px solid grey;
    border-radius: 10px;
    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}