.form__close-button {
  position: absolute;
  top: 15px;
  right: 24px;
  padding: 20px;
  background: url(../../../images/close-button-form.svg);
  background-position: center;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
}


.form__close-button:hover {
  opacity: .6;
}
