.card__heading{
    margin: 32px 0 8px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}