.page {
    min-width: 320px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
}

  *, *::after, *::before {
    box-sizing: inherit;
}