.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  min-height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #CC493D;
  color: white;
  border: none;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 10px;
  margin: 32px 0 0;
}


.form__button:hover {
  opacity: .8;
  cursor: pointer;
}
