.form__button {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  min-height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #CC493D;
  color: white;

  border: none;
  border-radius: 10px;
  
  margin: 32px 0 0;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

}
=======
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    min-height: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #CC493D;
    color: white;
    border: none;
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 10px;
    margin: 7px 0 0;
    }
>>>>>>> 8fc5c0e9395ae8de61d5ab48246feb34863acd30


    .form__button:hover {
    opacity: .8;
    cursor: pointer;
    }
