.filter__city-button {
    max-height: 19px;
    padding: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.filter__city-button:hover{
    opacity: 0.6; /*можно до 0.8 по идее идти, будет ок*/
    cursor: pointer;
}
