.filter__city-button {
    max-height: 19px;
    padding: 0;
    border: none;
    font-family: 'Open Sans', sans-serif;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    
    background-color: transparent;
    cursor: pointer;
}

.filter__city-button:hover{
    opacity: 0.6; /*можно до 0.8 по идее идти, будет ок*/
    cursor: pointer;
}
