.popup-card__show-replies-button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: 16px;

    background: transparent url("../../../images/icons/arrow_show_reply__icon.svg") no-repeat center center;
    background-size: 20px;
    border: none;
    cursor: pointer;
}

.popup-card__show-replies-button:hover{
    opacity: 0.6; /*можно до 0.8 по идее идти, будет ок*/
    cursor: pointer;
}