.popup-card__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F0EBE8;
    align-items: center;
    align-self: center;
    width: 760px;
    height: 600px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 48px 104px 88px;
} 