.popup-profile-full__button{
    border: 1px solid grey;
    border-radius: 8px;
    width: 264px;
    min-height: 56px;
    background-color: white;
    color: gray;
    margin: 0 24px;
}

.popup-profile-full__button:hover{
    opacity: 0.8;
}