.form__link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin: 24px 0 40px 123px;
    text-decoration: none;
    color: #000000;
}

.form__link:hover{
    opacity: 0.8;
}