.header {
    max-width: 1280px;
    min-height: 100px;
    padding: 0 80px 0px;
    margin: 0 auto;
    background-color: #2D4B4B;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;

}