.filter__tags {
    width: 684px;
    height: 88px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 16px;
}