.footer__subscribe-button {
        width: 320px;
        height: 72px;
        /* margin: 98px 77px 64px 0; */
        border-radius: 8px;
        padding: 0;
        border: none;
        /* align-self: flex-end; */
        text-align: center;
        background-color: #7d7d7d;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #C4C4C4;
    }
    
.footer__subscribe-button:hover{
    opacity: 0.8; /*можно до 0.8 по идее идти, будет ок*/
    cursor: pointer;
}
