.header__avatar {
    width: 32px;
    z-index: 5;
    height: 32px;
    border-radius: 50px;
    cursor: pointer;
}

.header__avatar:hover{
    opacity: 0.6;
    transition: .1s, ease-in-out, linear;
}

.header__avatar:active{
    transform: scale(1.1);
}