.header__link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    z-index: 5;
    cursor: pointer;
    padding-right: 38px;
}

.header__link:hover {
    opacity: .6;
    transition: .2s, ease-in-out, linear;
}  

.header__link:last-child {
    padding-right: 0;
}