.card__bookmark{
    background-image: url(../../../images/bookmark-initiative.svg); /*отображение не то немного, но не страшно вроде*/
    padding: 30px 20px;
    background-position: center;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 17px;
    right: 34px;
    outline: none;

}

.card__bookmark:hover {
    opacity: 0.6;
}