.footer__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}

.footer__link:hover {
    opacity: .8;
    transition: .2s, ease-in-out, linear;
}