.card__main-text{
    padding: 24px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    width: 61%;
    word-break: break-word;
    margin: 0;
    max-height: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}