.initiatives__popular{
    padding: 80px 10px 80px 76px;;
    align-self: flex-start;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}
