.promo__heading{
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    z-index: 2;
    color: #F0EBE8;
    margin: 81px 0 40px 0;
}