.popup-card__reply-confirm {
    width: 32px;
    height: 32px;
    padding: 0;

    background: transparent url("../../../images/icons/arrow_confirm_icon.svg") no-repeat center center;
    background-size: 22px;
    border: none;
    cursor: pointer;
}

.popup-card__reply-confirm:hover{
    opacity: 0.6; /*можно до 0.8 по идее идти, будет ок*/
    cursor: pointer;
}
