.element__author {
    max-width: 448px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}