.footer__link_logo_vk {
    background-image: url(../../../../images/icons/vk_icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    display: inline-block;
}