.popup-profile-full__user-pic{
    background-image: url("../../../images/profile-pic.svg");
    padding: 20px;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

.popup-profile-full__user-pic:hover{
    opacity: 0.8;
}