.initiatives__see-all-button{
    background-image: url(../../../images/see-all-button.svg); /*отображение не то немного, но не страшно вроде*/
    padding: 16px;
    background-position: center;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    background-color: white;
}

.initiatives__see-all-button:hover{
    opacity: 0.8;
}