.element__share-button{
    width: 24px;
    height: 24px;
    padding: 0;

    background: #F0EBE8 url("../../../images/icons/share_icon.svg") no-repeat center center;
    background-size: 22px;
    border: none;
    cursor: pointer;
    outline: none;

}

.element__share-button:hover{
    background: #F0EBE8 url("../../../images/icons/share_icon_hovered.svg") no-repeat center center;

}

.element__share-button:active{
    background: #F0EBE8 url("../../../images/icons/share_icon.svg") no-repeat center center;
}
