.element__share-button{
    width: 24px;
    height: 24px;
    padding: 0;

    background: #F0EBE8 url("../../../images/icons/share_icon.svg") no-repeat center center;
    background-size: 22px;
    border: none;
    cursor: pointer;
}

.element__share-button:hover{
    opacity: 0.6; /*можно до 0.8 по идее идти, будет ок*/
    cursor: pointer;
}
