.form__push-button {
    width: 45px;
    height: 45px;
    padding: 0;
    align-self: center;

    background: transparent url("../../../images/icons/arrow_confirm_icon.svg") no-repeat center center;
    background-size: px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
    
.form__push-button:hover{
    background: transparent url("../../../images/icons/arrow_confirm_icon_hovered.svg") no-repeat center center;
    cursor: pointer;
}

.form__push-button:active{
    background: transparent url("../../../images/icons/arrow_confirm_icon.svg") no-repeat center center;
}