.front-window{
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2D4B4B;
    background-repeat: no-repeat;
    min-height: 535px;
}