@import url("../blocks/page/page.css");

/*Header*/
@import url("../blocks/logo/logo.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__link-list/header__link-list.css");
@import url("../blocks/header/__link/header__link.css");
@import url("../blocks/header/__link/_inactive/header__link_inactive.css");
@import url("../blocks/header/__input-search/header__input-search.css");
@import url("../blocks/header/__profile-container/header__profile-container.css");
@import url("../blocks/header/__profile-title/header__profile-title.css");
@import url("../blocks/header/__avatar/header__avatar.css");
@import url("../blocks/header/__search-button/header__search-button.css");

@import url("../blocks/main/main.css");
@import url("../blocks/main/_feed/main_feed.css");

@import url("../blocks/filter/filter.css");
@import url("../blocks/filter/__conteiner/filter__container.css");
@import url("../blocks/filter/__select-city/filter__select-city.css");
@import url("../blocks/filter/__paragraph/filter__paragraph.css");
@import url("../blocks/filter/__sort/filter__sort.css");
@import url("../blocks/filter/__city-button/filter__city-button.css");
@import url("../blocks/filter/__show-sort/filter__show-sort.css");
@import url("../blocks/filter/__tag-container/filter__tag-container.css");
@import url("../blocks/filter/__tags/filter__tags.css");
@import url("../blocks/filter/__tag-button/filter__tag-button.css");


@import url("../blocks/feed/feed.css");
@import url("../blocks/feed/__square/feed__square.css");
@import url("../blocks/feed/__triangle/feed__triangle.css");
@import url("../blocks/feed/__triangle/_bot/feed__triangle_bot.css");

@import url("../blocks/element/element.css");
@import url("../blocks/element/__container/element__container.css");
@import url("../blocks/element/__header/element__header.css");
@import url("../blocks/element/__heading/element__heading.css");
@import url("../blocks/element/__subheading/element__sudheading.css");
@import url("../blocks/element/__user-info/element__user-info.css");
@import url("../blocks/element/__avatar/element__avatar.css");
@import url("../blocks/element/__info/element__info.css");
@import url("../blocks/element/__author/element__author.css");
@import url("../blocks/element/__date/element__date.css");
@import url("../blocks/element/__main-text/element__main-text.css");
@import url("../blocks/element/__like-info/element__like-info.css");
@import url("../blocks/element/__share-button/element__share-button.css");


/*popup*/
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup-edit/popup-edit.css");
@import url("../blocks/popup-reg/popup-reg.css");
@import url("../blocks/popup-initiative/popup-initiative.css");
@import url("../blocks/popup-subscribe/popup-subscribe.css");
@import url("../blocks/popup-subscribe/__title/popup-subscribe__title.css");
@import url("../blocks/popup-subscribe/__subtitle/popup-subscribe__subtitle.css");
@import url("../blocks/popup-subscribe/__close-button/popup-subscribe__close-button.css");
@import url("../blocks/popup-subscribe/__container/popup-subscribe__container.css");

@import url("../blocks/popup-profile/popup-profile.css");
@import url("../blocks/popup-profile/__container/popup-profile__container.css");
@import url("../blocks/popup-profile/__user-container/popup-profile__user-container.css");
@import url("../blocks/popup-profile/__saved-container/popup-profile__saved-container.css");
@import url("../blocks/popup-profile/__user-name/popup-profile__user-name.css");
@import url("../blocks/popup-profile/__user-pic/popup-profile__user-pic.css");
@import url("../blocks/popup-profile/__user-settings/popup-profile__user-settings.css");
@import url("../blocks/popup-profile/__user-saved/popup-profile__user-saved.css");
@import url("../blocks/popup-profile/__button/popup-profile__button.css");

@import url("../blocks/popup-profile-full/popup-profile-full.css");
@import url("../blocks/popup-profile-full/__container/popup-profile-full__container.css");
@import url("../blocks/popup-profile-full/__user-container/popup-profile-full__user-container.css");
@import url("../blocks/popup-profile-full/__saved-container/popup-profile-full__saved-container.css");
@import url("../blocks/popup-profile-full/__user-name/popup-profile-full__user-name.css");
@import url("../blocks/popup-profile-full/__user-pic/popup-profile-full__user-pic.css");
@import url("../blocks/popup-profile-full/__user-settings/popup-profile-full__user-settings.css");
@import url("../blocks/popup-profile-full/__user-saved/popup-profile-full__user-saved.css");
@import url("../blocks/popup-profile-full/__button/popup-profile-full__button.css");

@import url("../blocks/popup-card/popup-card.css");
@import url("../blocks/popup-card/__content/popup-card__content.css");

@import url("../blocks/popup-card/__header/popup-card__header.css");
@import url("../blocks/popup-card/__heading/popup-card__heading.css");
@import url("../blocks/popup-card/__subheading/popup-card__sudheading.css");
@import url("../blocks/popup-card/__user-info/popup-card__user-info.css");
@import url("../blocks/popup-card/__info/popup-card__info.css");
@import url("../blocks/popup-card/__avatar/popup-card__avatar.css");
@import url("../blocks/popup-card/__author/popup-card__author.css");
@import url("../blocks/popup-card/__date/popup-card__date.css");
@import url("../blocks/popup-card/__like-info/popup-card__like-info.css");
@import url("../blocks/popup-card/__share-container/popup-card__share-container.css");
@import url("../blocks/popup-card/__share-button/popup-card__share-button.css");
@import url("../blocks/popup-card/__bookmark/popup-card__bookmark.css");
@import url("../blocks/popup-card/__like-counter/popup-card__like-counter.css");
@import url("../blocks/popup-card/__replies-heading/popup-card__replies-heading.css");
@import url("../blocks/popup-card/__replies-title/popup-card__replies-title.css");
@import url("../blocks/popup-card/__show-replies-button/popup-card__show-replies-button.css");
@import url("../blocks/popup-card/__replies-form/popup-card__replies-form.css");
@import url("../blocks/popup-card/__reply-input/popup-card__reply-input.css");
@import url("../blocks/popup-card/__reply-confirm/popup-card__reply-confirm.css");
@import url("../blocks/popup-card/__close-button/popup-card__close-button.css");


/*footer*/
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__column/footer__column.css");
@import url("../blocks/footer/__column/_content/footer__column_content_logo.css");
@import url("../blocks/footer/__social-links/footer__social-links.css");
@import url("../blocks/footer/__title/footer__title.css");
@import url("../blocks/footer/__logo-links/footer__logo-links.css");
@import url("../blocks/footer/__logo-link/footer__logo-link.css");
@import url("../blocks/footer/__logo-link/_logo/footer__logo-link_instagram.css");
@import url("../blocks/footer/__logo-link/_logo/footer__logo-link_telegram.css");
@import url("../blocks/footer/__logo-link/_logo/footer__logo-link_twitter.css");
@import url("../blocks/footer/__logo-link/_logo/footer__logo-link_vk.css");
@import url("../blocks/footer/__container/footer__container.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");


@import url("../blocks/form/__error/error.css");


@import url("../blocks/form/__close-button/form__close-button.css");
@import url("../blocks/form/__button/form__button.css");
@import url("../blocks/form/__link/form__link.css");
@import url("../blocks/form/__button/_unactive/form__button_unactive.css");
@import url("../blocks/form/__container/form__container.css");
@import url("../blocks/form/__checkbox/form__checkbox.css");
@import url("../blocks/form/___label/form___label.css");
@import url("../blocks/form/__text/form__text.css");
@import url("../blocks/form/__link/_reg/form__link_reg.css");
@import url("../blocks/form/__button/_reg/form__button_reg.css");
@import url("../blocks/form/__button/_loading/form__button_loading.css");
@import url("../blocks/form/__button/_loading/_is-active/form__button_loading_is-active.css");  /*исправить в mesto*/
@import url("../blocks/form/__heading/form__heading.css");
@import url("../blocks/form/__heading/_reg/form__heading_reg.css");
@import url("../blocks/form/__name/form__name.css");
@import url("../blocks/form/__push-request/form__push-request.css");
@import url("../blocks/form/__name/_text/form__name_text.css");
@import url("../blocks/form/__name/_error/form__name_error.css");
@import url("../blocks/form/__select/form__select.css");
@import url("../blocks/form/__option/form__option.css");
@import url("../blocks/form/form.css");
@import url("../blocks/popup/_is-opened/popup_is-opened.css");
@import url("../blocks/form/__name/_error/form__name_error.css");
@import url("../blocks/form/__request-input/form__request-input.css");
@import url("../blocks/form/__push-button/form__push-button.css");
@import url("../blocks/form/__push-button/form__push-button.css");
@import url("../blocks/form/_edit/form_edit.css");