@import url("../blocks/page/page.css");

/*Header*/
@import url("../blocks/logo/logo.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__link-list/header__link-list.css");
@import url("../blocks/header/__link/header__link.css");
@import url("../blocks/header/__link/_inactive/header__link_inactive.css");
@import url("../blocks/header/__input-search/header__input-search.css");
@import url("../blocks/header/__profile-container/header__profile-container.css");
@import url("../blocks/header/__profile-title/header__profile-title.css");
@import url("../blocks/header/__avatar/header__avatar.css");
@import url("../blocks/header/__search-button/header__search-button.css");


/*Front-window*/
@import url("../blocks/front-window/front-window.css");
@import url("../blocks/front-window/__title/front-window__title.css");
@import url("../blocks/front-window/__text-container/front-window__text-container.css");
@import url("../blocks/front-window/__subtitle/front-window__subtitle.css");
@import url("../blocks/front-window/__create-button/front-window__create-button.css");
@import url("../blocks/front-window/__pic/front-window__pic.css");
@import url("../blocks/front-window/__square/front-window__square.css");
@import url("../blocks/front-window/__triangle/front-window__triangle.css");

@import url("../blocks/arrow/arrow.css");


/*Initiatives + card*/
@import url("../blocks/initiatives/initiatives.css"); /**/
@import url("../blocks/initiatives/__popular/initiatives__popular.css");/**/
@import url("../blocks/initiatives/__container/initiatives__container.css");/**/
@import url("../blocks/initiatives/__see-all-button/initiatives__see-all-button.css");/*card__see-all-button*/
@import url("../blocks/initiatives/__back-square/initiatives__back-square.css");
@import url("../blocks/cards/cards.css");
@import url("../blocks/card/card.css");/*card*/
@import url("../blocks/card/__container/card__container.css");/*card__container*/
@import url("../blocks/card/__heading/card__heading.css");/*card__heading*/
@import url("../blocks/card/__bookmark/card__bookmark.css");/*card__bookmark*/
@import url("../blocks/card/__bookmark/_active/card__bookmark_active.css");
@import url("../blocks/card/__date/card__date.css");/*card__date*/
@import url("../blocks/card/__theme/card__theme.css");/*card__theme*/
@import url("../blocks/card/__main-text/card__main-text.css");/*card__main-text*/
@import url("../blocks/card/__author/card__author.css");/*card__author*/
@import url("../blocks/card/__main-text/_news/card__main-text_news.css");
@import url("../blocks/card/_news/card_news.css");


/*News*/
@import url("../blocks/news/news.css");
@import url("../blocks/news/__container/news__container.css");
@import url("../blocks/news/__container/_bot/news__container_bot.css");
@import url("../blocks/news/__popular/news__popular.css");
@import url("../blocks/news/__see-all-button/news__see-all-button.css");
@import url("../blocks/news/__triangle/news__triangle.css");
@import url("../blocks/news/__square/news__square.css");
@import url("../blocks/news/__arrow/news__arrow.css");



/*promo*/
@import url("../blocks/promo/promo.css");
@import url("../blocks/promo/__container/promo__container.css");
@import url("../blocks/promo/__heading/promo__heading.css");
@import url("../blocks/promo/__subheading/promo__subheading.css");
@import url("../blocks/promo/__button/promo__button.css");
@import url("../blocks/promo/__triangle/promo__triangle.css");
@import url("../blocks/promo/__square/promo__square.css");
@import url("../blocks/promo/__container-inputs/promo__container-inputs.css");
@import url("../blocks/promo/__input/promo__input.css");
@import url("../blocks/promo/__subheading/_small/promo__subheading_small.css");
@import url("../blocks/promo/__link/promo__link.css");

/*popup*/
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup-edit/popup-edit.css");
@import url("../blocks/popup-reg/popup-reg.css");
@import url("../blocks/popup-initiative/popup-initiative.css");
@import url("../blocks/popup-subscribe/popup-subscribe.css");
@import url("../blocks/popup-subscribe/__title/popup-subscribe__title.css");
@import url("../blocks/popup-subscribe/__subtitle/popup-subscribe__subtitle.css");
@import url("../blocks/popup-subscribe/__close-button/popup-subscribe__close-button.css");
@import url("../blocks/popup-subscribe/__container/popup-subscribe__container.css");

@import url("../blocks/popup-profile/popup-profile.css");
@import url("../blocks/popup-profile/__container/popup-profile__container.css");
@import url("../blocks/popup-profile/__user-container/popup-profile__user-container.css");
@import url("../blocks/popup-profile/__saved-container/popup-profile__saved-container.css");
@import url("../blocks/popup-profile/__user-name/popup-profile__user-name.css");
@import url("../blocks/popup-profile/__user-pic/popup-profile__user-pic.css");
@import url("../blocks/popup-profile/__user-settings/popup-profile__user-settings.css");
@import url("../blocks/popup-profile/__user-saved/popup-profile__user-saved.css");
@import url("../blocks/popup-profile/__button/popup-profile__button.css");

@import url("../blocks/popup-profile-full/popup-profile-full.css");
@import url("../blocks/popup-profile-full/__container/popup-profile-full__container.css");
@import url("../blocks/popup-profile-full/__user-container/popup-profile-full__user-container.css");
@import url("../blocks/popup-profile-full/__saved-container/popup-profile-full__saved-container.css");
@import url("../blocks/popup-profile-full/__user-name/popup-profile-full__user-name.css");
@import url("../blocks/popup-profile-full/__user-pic/popup-profile-full__user-pic.css");
@import url("../blocks/popup-profile-full/__user-settings/popup-profile-full__user-settings.css");
@import url("../blocks/popup-profile-full/__user-saved/popup-profile-full__user-saved.css");
@import url("../blocks/popup-profile-full/__button/popup-profile-full__button.css");

@import url("../blocks/popup-card/popup-card.css");
@import url("../blocks/popup-card/__content/popup-card__content.css");

@import url("../blocks/popup-card/__header/popup-card__header.css");
@import url("../blocks/popup-card/__heading/popup-card__heading.css");
@import url("../blocks/popup-card/__subheading/popup-card__sudheading.css");
@import url("../blocks/popup-card/__user-info/popup-card__user-info.css");
@import url("../blocks/popup-card/__info/popup-card__info.css");
@import url("../blocks/popup-card/__avatar/popup-card__avatar.css");
@import url("../blocks/popup-card/__author/popup-card__author.css");
@import url("../blocks/popup-card/__date/popup-card__date.css");
@import url("../blocks/popup-card/__text/popup-card__text.css");
@import url("../blocks/popup-card/__like-info/popup-card__like-info.css");
@import url("../blocks/popup-card/__share-container/popup-card__share-container.css");
@import url("../blocks/popup-card/__share-button/popup-card__share-button.css");
@import url("../blocks/popup-card/__bookmark/popup-card__bookmark.css");
@import url("../blocks/popup-card/__like-counter/popup-card__like-counter.css");
@import url("../blocks/popup-card/__replies-heading/popup-card__replies-heading.css");
@import url("../blocks/popup-card/__replies-title/popup-card__replies-title.css");
@import url("../blocks/popup-card/__show-replies-button/popup-card__show-replies-button.css");
@import url("../blocks/popup-card/__replies-form/popup-card__replies-form.css");
@import url("../blocks/popup-card/__reply-input/popup-card__reply-input.css");
@import url("../blocks/popup-card/__reply-confirm/popup-card__reply-confirm.css");
@import url("../blocks/popup-card/__close-button/popup-card__close-button.css");

/*footer*/
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__column/footer__column.css");
@import url("../blocks/footer/__column/_content/footer__column_content_logo.css");
@import url("../blocks/footer/__social-links/footer__social-links.css");
@import url("../blocks/footer/__title/footer__title.css");
@import url("../blocks/footer/__logo-links/footer__logo-links.css");
@import url("../blocks/footer/__logo-link/footer__logo-link.css");
@import url("../blocks/footer/__logo-link/_logo/footer__logo-link_instagram.css");
@import url("../blocks/footer/__logo-link/_logo/footer__logo-link_telegram.css");
@import url("../blocks/footer/__logo-link/_logo/footer__logo-link_twitter.css");
@import url("../blocks/footer/__logo-link/_logo/footer__logo-link_vk.css");
@import url("../blocks/footer/__container/footer__container.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");


@import url("../blocks/form/__error/error.css");


@import url("../blocks/form/__close-button/form__close-button.css");
@import url("../blocks/form/__button/form__button.css");
@import url("../blocks/form/__link/form__link.css");
@import url("../blocks/form/__button/_unactive/form__button_unactive.css");
@import url("../blocks/form/__container/form__container.css");
@import url("../blocks/form/__checkbox/form__checkbox.css");
@import url("../blocks/form/___label/form___label.css");
@import url("../blocks/form/__text/form__text.css");
@import url("../blocks/form/__link/_reg/form__link_reg.css");
@import url("../blocks/form/__button/_reg/form__button_reg.css");
@import url("../blocks/form/__button/_loading/form__button_loading.css");
@import url("../blocks/form/__button/_loading/_is-active/form__button_loading_is-active.css");  /*исправить в mesto*/
@import url("../blocks/form/__heading/form__heading.css");
@import url("../blocks/form/__heading/_reg/form__heading_reg.css");
@import url("../blocks/form/__name/form__name.css");
@import url("../blocks/form/__push-request/form__push-request.css");
@import url("../blocks/form/__name/_text/form__name_text.css");
@import url("../blocks/form/__name/_error/form__name_error.css");
@import url("../blocks/form/__select/form__select.css");
@import url("../blocks/form/__option/form__option.css");
@import url("../blocks/form/form.css");
@import url("../blocks/popup/_is-opened/popup_is-opened.css");
@import url("../blocks/form/__name/_error/form__name_error.css");
@import url("../blocks/form/__request-input/form__request-input.css");
@import url("../blocks/form/__push-button/form__push-button.css");
@import url("../blocks/form/__push-button/form__push-button.css");
@import url("../blocks/form/_edit/form_edit.css");

@import url("../blocks/rotation/rotation.css");