@import url("../blocks/page/page.css");

/*Header*/
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__link-list/header__link-list.css");
@import url("../blocks/header/__link/header__link.css");
@import url("../blocks/header/__input-search/header__input-search.css");
@import url("../blocks/header/__profile-container/header__profile-container.css");
@import url("../blocks/header/__profile-title/header__profile-title.css");
@import url("../blocks/header/__avatar/header__avatar.css");


/*Front-window*/
@import url("../blocks/front-window/front-window.css");
@import url("../blocks/front-window/__title/front-window__title.css");
@import url("../blocks/front-window/__text-container/front-window__text-container.css");
@import url("../blocks/front-window/__subtitle/front-window__subtitle.css");
@import url("../blocks/front-window/__create-button/front-window__create-button.css");


/*Initiatives + card*/
@import url("../blocks/initiatives/initiatives.css"); /**/
@import url("../blocks/initiatives/__popular/initiatives__popular.css");/**/
@import url("../blocks/initiatives/__container/initiatives__container.css");/**/
@import url("../blocks/initiatives/__see-all-cards/initiatives__see-all-cards.css");/*card__see-all-cards*/
@import url("../blocks/initiatives/__see-all-button/initiatives__see-all-button.css");/*card__see-all-button*/
@import url("../blocks/card/card.css");/*card*/
@import url("../blocks/card/__container/card__container.css");/*card__container*/
@import url("../blocks/card/__heading/card__heading.css");/*card__heading*/
@import url("../blocks/card/__bookmark/card__bookmark.css");/*card__bookmark*/
@import url("../blocks/card/__date/card__date.css");/*card__date*/
@import url("../blocks/card/__theme/card__theme.css");/*card__theme*/
@import url("../blocks/card/__main-text/card__main-text.css");/*card__main-text*/
@import url("../blocks/card/__author/card__author.css");/*card__author*/
@import url("../blocks/card/__main-text/_news/card__main-text_news.css");
@import url("../blocks/card/_news/card_news.css");



/*News + card*/
@import url("../blocks/news/news.css");
@import url("../blocks/news/__container/news__container.css");
@import url("../blocks/news/__popular/news__popular.css");
@import url("../blocks/news/__see-all-cards/news__see-all-cards.css");
@import url("../blocks/news/__see-all-button/news__see-all-button.css");


@import url("../blocks/promo/promo.css");
@import url("../blocks/promo/__container/promo__container.css");
@import url("../blocks/promo/__heading/promo__heading.css");
@import url("../blocks/promo/__subheading/promo__subheading.css");
@import url("../blocks/promo/__button/promo__button.css");
@import url("../blocks/promo/__img/promo__img.css");
