.header__search-button{
    padding-right: 20px;
    background-image: url(../../../images/header-search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #f0ebe8;
    z-index: 5;
    outline: none;
}

.header__search-button:hover{

}

.header__search-button:active{
    opacity: 1;
    background-image: url(../../../images/header-search-icon-hovered.svg);
    transition: .2s, ease-in-out, linear;
}