.element__sudheading {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
}

.element__sudheading:nth-of-type(2n){
    margin-left: 10px;
    margin-right: 10px;

}