.popup-card__text {
    align-self: flex-start;
    max-width: 550px;
    max-height: 73px;
    margin: 24px 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    overflow: hidden;
}