.promo__subheading{
    margin: 16px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    width: 106%;
    
    z-index: 2;
}