.promo__subheading{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    font-size: 20px;
    line-height: 27px;
    width: 106%;
    
    z-index: 2;
}