.element {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    background-color: #F0EBE8;
    align-items: center;
    align-self: center;
    width: 744px;
    height: 390px;
    padding: 32px 96px 48px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 20px rgba(151, 151, 151, 0.25));
}

.element:last-of-type{
    margin-bottom: 100px;
}