.front-window__create-button{
    width: 320px;
    height: 56px;
    margin: 98px 0px 64px 0;
    padding: 0;
    align-self: flex-end;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #E0B962;
    background-color: transparent;
    border: 1px solid #E0B962;
    border-radius: 100px;
    z-index: 5;
    outline: none;
}

.front-window__create-button:hover{
    background-color: #E0B962;
    color: white;

    cursor: pointer;
}

.front-window__create-button:active{
    background-color: #CFA443;

}