.popup-card__bookmark {
    width: 24px;
    height: 24px;
    padding: 0;

    background: transparent url("../../../images/icons/bookmark_icon.svg") no-repeat center center;
    background-size: 22px;
    border: none;
    cursor: pointer;
}

.popup-card__bookmark:hover{
    opacity: 0.6; /*можно до 0.8 по идее идти, будет ок*/
    cursor: pointer;
}
