.header__profile-container {
    max-width: 200px;
    max-height: 32px;
    
    display: flex;
    align-items: center;

    cursor: pointer;
}

.header__profile-container:hover {
    opacity: .6;
    transition: .2s, ease-in-out, linear;
}  