.popup-profile-full__user-settings{
    background-image: url("../../../images/profile-settings.svg");
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    border:none;
    background-color: transparent;
    background-repeat: no-repeat;

}

.popup-profile-full__user-settings:hover{
    opacity: 0.8;
}