.element__main-text {
    align-self: flex-start;
    max-width: 550px;
    max-height: 90px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;

    overflow: hidden;
}