.form__error {
    max-width: 272px;
    min-height: 32px;
    margin: 2px 35px 2px;
    color: #FF0000;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}