.news__see-all-button{
    background-image: url(../../../images/see-all-round.svg); /*отображение не то немного, но не страшно вроде*/
    padding: 20px;
    background-position: center;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    grid-column-start: 3;
    grid-column-end: 3;
    z-index: 5;
    position: absolute;
    right: 16px;
}

.news__see-all-button:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-out;
    opacity: 0.8;
}
